.container {
  width: auto;
  height: auto;
  margin: 30px;
  border: 1px solid silver;
  display: flex;
  flex-direction: column;
}

.container--box-shadow {
  box-shadow: 10px 15px 7px silver;
}

#menu-title {
  padding: 8px;
  flex-basis: 200px;
  font-family: 'Times New Roman';
}

#menu-title-options {
  flex-grow: 7.8;
  font-family: 'Times New Roman';
}

.container--menu-bar .breadcrumb li {
  display: inline;
}

.container--menu-bar .breadcrumb li a{
  color: black;
  font-family: 'Times New Roman';
  text-decoration: none;
}

.container--menu-bar .breadcrumb li+li:before {
  padding: 8px;
  content: "/";
}

.container--menu-bar .breadcrumb li a:hover {
  text-decoration: underline;
}

#close-container {
  padding: 8px;
}

.container--menu-bar {
  display: flex;
  align-items: baseline;
  flex-direction: row;
  border: 1px solid silver;
}

.container--menu-bar__options {
  height: auto;
  display: flex;
  flex-direction: row;
}

.container--menu-bar__options .transaction-block {
  width: 60%;
  margin: 10px;
  flex-wrap: wrap;
}

.transaction-block img {
  width: 240px;
  height: 200px;
}












.form-container{
  width: 52.3%;
}

.form-container input{
  margin-top: 10px;
  height: 30px;
}

.form-container form {
  display: flex;
  flex-direction: column;
  align-content: center;
}

























































